<a href="https://colab.research.google.com/github/David-Thapa/Python-Tutorial-Question-Answer/blob/main/DictionaryHW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1 .Students = [‘jack’,’jill’,’david’,’silva’,’ronaldo’]
## Marks = [‘55’,’56’,’57’,’66’,’76’] 
### Make a dictionary using lists above and delete the key-value (students:marks) pairs with lowest marks.

In [1]:
Students = ['jack','jill','david','silva','ronaldo']
Marks = ['55','56','57','66','76']
Dict = {}
for i in range(0,len(Marks)):
  Dict[Students[i]] = Marks[i]

lowest = min(Dict.values())

for x,y in Dict.items():
  if lowest == y:
    Dict.pop(x)
    break;

print(Dict)

{'jill': '56', 'david': '57', 'silva': '66', 'ronaldo': '76'}

## 2. Euro = {‘France’:5,’Germany’:2,’Portugal’:3,’Hungary’:6}. Make two lists from above dictionary

In [4]:
Euro = {'France':5,'Germany':2,'Portugal':3,'Hungary':6}
list1 = []
list2 = []

for x,y in Euro.items():
  list1.append(x)
  list2.append(y)

print(list1,'\n',list2)

['France', 'Germany', 'Portugal', 'Hungary']
 [5, 2, 3, 6]

## 3. users = {'g91':{'name':'Aron','age':55,'poison':'Old monk'},'twir56':{'name':'Visakha','age':26,'poison':'coca cola'}, 'jsdl8':{'name':'Saudi','age':12,'poison':'hinwa'}}. Generate a list of usernames, name, age and poison from the above dictionary.

In [23]:
users = {'g91':
         {'name':'Aron',
          'age':55,
          'poison':'Old monk'},
         'twir56':
         {'name':'Visakha',
          'age':26,
          'poison':'coco cola'},
         'jsdl8':
         {'name':'Saudi',
          'age':12,
          'poison':'hinwa'}}

In [24]:
username = [x for x in users.keys()]
name = []
age = []
poison = []

In [25]:
for value in users.values():
  name.append(value.get('name'))
  age.append(value.get('age'))
  poison.append(value.get('poison'))

print("List of Username: ",username)
print("List of name: ", name)
print("List of age: ", age)
print("List of poison: ", poison)

List of Username:  ['g91', 'twir56', 'jsdl8']
List of name:  ['Aron', 'Visakha', 'Saudi']
List of age:  [55, 26, 12]
List of poison:  ['Old monk', 'coco cola', 'hinwa']

## 4. Take the above list and put it in order.

In [26]:
username.sort()
name.sort()
age.sort()
poison.sort()

print(username,'\n',name,'\n',age,'\n',poison)

['g91', 'jsdl8', 'twir56']
 ['Aron', 'Saudi', 'Visakha']
 [12, 26, 55]
 ['Old monk', 'coco cola', 'hinwa']

## 5. Create an empty dictionary called milk_carton. Add the following key/value pairs.You can make up the values or use a real milk carton.<br>a. Expiration_date: a tuple with day, month, year<br>b. Vol: volume of milk<br>c. Cost: cost of milk<br>d. Brand_name

In [30]:
milk_carton = {}

milk_carton.update({'Expiration_date':(2021,7,22)})
milk_carton['VOl']= 2
milk_carton.update({'Cost':40})
milk_carton.update({'Brand':'Amul'})
print(milk_carton)

{'Expiration_date': (2021, 7, 22), 'VOl': 2, 'Cost': 40, 'Brand': 'Amul'}

## 6. Print out the values of all of the elements of the milk_carton using the values in the dictionary

In [31]:
for value in milk_carton.values():
        print(value)

(2021, 7, 22)
2
40
Amul

In [32]:
## 7. Show how to calculate the cost of six cartons of milk based on the cost of the milk_carton.

In [34]:
print("The cost of six carton of mik is {} rs".format(milk_carton['Cost']*6))

The cost of six carton of mik is 240 rs