<a href="https://colab.research.google.com/github/David-Thapa/Python-Tutorial-Question-Answer/blob/main/ListHW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Make a list of ten students in your class. Print the name of each student whose name starts with ‘B’.

In [8]:
students = [
           "David",
           "Saurab",
           "Samir",
           "Bobby",
           "Rahul",
           "Bishal",
           "Aakriti",
           "Kusum",
           "Roniva",
           "Bismita"]

for name in students:
  if name[0].upper() == 'B':
    print(name)

Bobby
Bishal
Bismita

## 2. Make a list of ten students in your class. Print the name of each student whose name ends with ‘a’.

In [12]:
students = [
           "David",
           "Saurab",
           "Samir",
           "Bobby",
           "Rahul",
           "Bishal",
           "Aakriti",
           "Kusum",
           "Roniva",
           "Bismita"]

for name in students:
  if name[::-1][0].lower() == 'a':
    print(name)

Roniva
Bismita

## 3. Print all the unique elements in the following list 
### fifa = ['Italy','Argentina','Germany','Brazil','France','Brazil','Italy', 'Spain','Germany','France']

In [20]:
fifa = [
        'Italy',
        'Argentina',
        'Germany',
        'Brazil',
        'France',
        'Brazil',
        'Italy',
        'Spain',
        'Germany',
        'France']

fifa2 = []

for country in fifa:
  fifa2.append(country) if country not in fifa2 else print(country)

Brazil
Italy
Germany
France

## 4. Change the first alphabet of all elements of the following list to capital.
### Bob = [‘hurricane’,’tambourine’,’blowing’,’numb’]

In [47]:
Bob = [
       'hurricane',
       'tambourine',
       'blowing',
       'numb']

In [51]:

for i in range(0,len(Bob)-1):
  name = Bob[i].capitalize()
  Bob.insert(i,name)
  Bob.remove(Bob[i+1])

for name in Bob:
  print(name)

Hurricane
Tambourine
Blowing
numb

## 5. A = [‘a’,’b’,’c’,’d’] B = [‘1’,’a’,’2’,’b’]
### Find AuB and AnB

In [76]:
A = [ ' a ' , ' b ' , ' c ' , ' d ' ]
B = [ ' 1 ' , ' a ' , ' 2 ' , ' b ' ]


print(f"A = {A}\nB = {B}\n")
union = set(A) | set(B)
print(f"A Union B	 =  {list(union)}")

intersection = set(A) & set(B)
print(f"A Intersection B =  {list(intersection)}")

A = [' a ', ' b ', ' c ', ' d ']
B = [' 1 ', ' a ', ' 2 ', ' b ']

A Union B	 =  [' d ', ' 2 ', ' c ', ' 1 ', ' b ', ' a ']
A Intersection B =  [' b ', ' a ']

## 6. Calculate the mean and standard deviation of the following list:
### Numbers = [1,2,3,5,88,99,55,33,41,52]

In [81]:
import numpy as np


Numbers = [1,2,3,5,88,99,55,33,41,52]

stdev = np.std(Numbers)
mean = np.mean(Numbers)
print("The mean and Standard deviation of given numbers are " + str(mean) +", " + str(stdev))

The mean and Standard deviation of given numbers are 37.9, 34.232878932394804